<section class="generic section color" style="">
<a name="teaser"></a>
  <div class="container text-center">
    <h1>Video Title</h1>
    <h3>This is the context for the teaser.</h3>
    <div class="col-sm-10 col-sm-push-1">
      <div class="videoWrapper">
        <iframe src="//player.vimeo.com/video/116582567" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <p>Share additional details here.</p>
      <a href="/videos/">
        <button class="btn btn-info">See More</button>
      </a>
    </div>
  </div>
</section>
