<!-- Hero classes are 'no-image' 'image-tagline' 'image-center' 'image-left' 'image-right' -->
<section id="hero" class="jumbotron section image-tagline fullscreen black cover parallax" style="background-image:url(/img/backgrounds/headerbg.jpg) !important;">
  <div class="container">
    <div class="logo-display">
      <img class="logo container img hidden-xs" alt="Logo" src="/img/logo-badge.png"></img>
      <img class="logo container img-responsive visible-xs img" alt="Logo" src="/img/logo-badge.png"></img>
      <h1 class="page-title" style="display:block;">Paywall Video Site</h1>
    </div>
      <h2>Require a Stripe subscription to access select content.</h2>
      <p>This site puts a paywall in front of specific directories. Videos are embedded on static pages inside the BowTie project, and protected based on a user's Stripe subscription plan.</p>
      <a href="#teaser">
        <button class="btn btn-default">Watch Now</button>
      </a>
  </div>
</section>
