<link rel="stylesheet" type="text/css" href="/css/components/press.css"/>

<section id="press" class="section text-center">
  <h4>Featured In:</h4>
    <div class="press-logos row row-90">
    <a href="#" target="_blank">
      <img alt="TechCrunch" src="/img/press/techcrunch_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Venture Beat" src="/img/press/venturebeat_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Fast Company" src="/img/press/fast_company_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Forbes" src="/img/press/forbes_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="WSJ" src="/img/press/wall_street_journal_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Lifehacker" src="/img/press/lifehacker_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Techstars" src="/img/press/techstars_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="YCombinator" src="/img/press/yc_logo.png">
    </a>
    <a href="#" target="_blank">
      <img alt="Product Hunt" src="/img/press/product_hunt_logo.png">
    </a>

  </div>
</section>
