<section id="pricing" class="section alt" style="">
<a name="pricing"></a>
  <div class="container row-90">
  <h1>Pricing</h1>
  <!--h3>Subcopy.</h3-->

  <div class='pricing row'>
    <div class='col-md-4 col-sm-6'><!--PLAN 1-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Basic Membership
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar"></span>
            FREE
            <span class='unit'>

            </span>
          </div>
          <a href="/users/sign_up">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'><strong>Access to X Videos right now.</strong></li>
            <hr>
            <li class='list-group-item'>Access to X NEW Videos per year.</li>
            <hr>
            <li class='list-group-item'>$X Coupon to <a href="#">Add-On Item.</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-4 col-sm-6'><!--PLAN 2-->
      <div class='plan panel panel-default prominent-plan'>
        <div class="panel-heading plan-name">
          Premium Membership
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            10<span style="font-size:1em !important;">*</span>
            <span class='unit'>
            /mo
            </span>
          </div>
          <a href="/users/sign_up">
          <button class="btn btn-default row">Sign Up</button>
          </a>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'><strong>Unlimited Video Access.</strong></li>
            <hr>
            <li class='list-group-item'>Access to our private Facebook Community Page.</li>
            <hr>
            <li class='list-group-item'>$X Coupon to <a href="#">Add-on Item.</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-4 col-sm-6'><!--PLAN 3-->
      <div class='plan panel panel-default'>
        <div class="panel-heading plan-name">
          Plan Name
        </div>
        <div class='panel-body text-center'>
          <div class='price'>
            <span class="dollar">$</span>
            50
            <span class='unit'>
            /mo
            </span>
          </div>
          <button class="btn btn-disabled row"><em>Coming Soon</em></button>
          <ul class='plan-features list-group'>
            <hr>
            <li class='list-group-item'><strong>Access to all <a href="/premium/">Premium Membership</a> benefits.</strong></li>
            <hr>
            <li class='list-group-item'>Access to Bonus Item/Feature.</li>
            <hr>
            <li class='list-group-item'>Free Add-On Item!</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-md-push-3 text-center clear">
      <div class="plan panel panel-default discount-panel">
        <h3 class="title">​* When paid annually. Add 15% for monthly billing.​</h3>
      </div>
    </div>
    </div>
    </div>

  </div>
</section>
