<section class="team section alt parallax tile">
<a name="team"></a>
  <div class="container row-80 text-center">
    <h1>Your Team Section</h1>
    <h3>Building Today, Shipping Tomorrow.</h3>
    <span class="row">
      <section class="center-team">
        <column class="col-sm-4">
          <img class="img-circle img profilepic" src="/img/user1.png">
          <h3 class="name">Clark Kent</h3>
          <p class="area">Duis ac scelerisque libero.</p>
          <div class="row social-media">
            <a href="//linkedin.com/#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//github.com/#" target="_blank"><i class="fa fa-github"></i></a>
            <a href="//twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="//facebook.com/#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          </div>
        </column>
        <column class="col-sm-4">
          <img class="img-circle img profilepic" src="/img/user2.png">
          <h3 class="name">Monica Rambeau</h3>
          <p class="area">Duis ac scelerisque libero.</p>
          <div class="row social-media">
            <a href="//linkedin.com/#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//github.com/#" target="_blank"><i class="fa fa-github"></i></a>
            <a href="//twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="//facebook.com/#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          </div>
        </column>
        <column class="col-sm-4">
          <img class="img-circle img profilepic" src="/img/user1.png">
          <h3 class="name">Tony Stark</h3>
          <p class="area">Duis ac scelerisque libero.</p>
          <div class="row social-media">
            <a href="//linkedin.com/#" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="//github.com/#" target="_blank"><i class="fa fa-github"></i></a>
            <a href="//twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="//facebook.com/#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          </div>
        </column>
      </section>
    </span>
  </div>
</section>
