<link rel="stylesheet" type="text/css" href="/css/components/testimonials.css"/>

<section id="testimonial-carousel" class="section black carousel slide testimonial" data-ride="carousel" style="overflow: hidden; width: 100%;">
  <div class="container row-90 text-center">
    <h4>What People Are Saying:</h4>
    <ol class="carousel-indicators">
      <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#testimonial-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner row-90 text-left"><!-- slides -->
      <div class="item active">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/user1.png" alt="Slide">
          <div>
            <h1>The greatest tool since whatever they invented to slice bread.</h1>
            <p> Startup L. Jackon  -  @startupljackson</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="img profile-pic" src="/img/user2.png" alt="Slide">
          <div>
            <h1>Boom! Nuff Said.</h1>
            <p> Monica Rambeau -  @captainmarvell</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="carousel-caption">
          <img class="first-slide" src="/img/user1.png" alt="Slide">
          <div>
            <h1>It's the smartest thing I've ever seen.</h1>
            <p> Tony Stark -  @ironman</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#testimonial-carousel" data-slide="prev">
      <span class="fa fa-angle-left"></span>
    </a>
    <a class="right carousel-control" href="#testimonial-carousel" data-slide="next">
      <span class="fa fa-angle-right"></span>
    </a>
  </div> <!-- end carousel -->
</section>
