<div id="flash-message" style="display:none;">
  <div class="alert alert-alert fade in" style="display:none;">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">
      x&nbsp;

      <span class="message">&nbsp;</span>
    </button>
  </div>

  <div class="alert alert-notice fade in" style="display:none;">
    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">
      x&nbsp;

      <span class="message">&nbsp;</span>
    </button>
  </div>
</div>
