<!-- remove the commented out li below if you are using our terms of svc generator, add other legal links as you see fit-->
<nav id="legal-nav" class="legal" role="navigation">
  <ul class="legal-links">
    <li class="first">
      <a class="legal-link" href="/privacy-policy.html" target="_blank">Privacy Policy</a>
    </li>
    <li>
      <a class="legal-link" href="/blog/">Blog</a>
    </li>
    <!--li>
      <a class="legal-link" href="/terms-of-service.html" target="_blank">Terms of Service</a>
    </li-->
  </ul>
</nav>
