<div class="signup-form">
  <form class="prospect-registration form-bloat form-stretch" method="post">
    <div class="prospect-registration-pending">
      <div class="input-append">
        <input type="text" name="prospect[email]" type="text" placeholder="Email Address">
        <button class="btn btn-default" type="submit">Sign Up</button>
      </div>
      <p class="help-block text-muted">We won't spam or sell your email.</p>
    </div>
    <div class="prospect-registration-successful" style="display:none;">
      <h1>Thanks for Signing Up!</h1>
      <h3>Keep an eye on your Email. We'll be in touch.</h3>
    </div>
  </form>
</div>
