<link rel="stylesheet" type="text/css" href="/css/components/user-list.css"/>

<div class="user-list list-group text-left">
  <a href="#" class="list-group-item ">
    <img class="img-circle img" src="/img/user1.png">
    <span>Tony Stark</span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </span>
  </a>
  <a href="#" class="list-group-item active">
    <img class="img-circle img" src="/img/user1.png">
    <span>Clark Kent (active)</span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </span>
  </a>
  <a href="#" class="list-group-item">
    <img class="img-circle img" src="/img/user2.png">
    <span>Monica Rambeau</span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </span>
    </a>
  <a href="#" class="list-group-item">
    <img class="img-circle img" src="/img/user2.png">
    <span>Jane Doe</span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </span>
    </a>
  <a href="#" class="list-group-item">
    <img class="img-circle img" src="/img/user1.png">
    <span>Jane Doe</span>
    <span class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
      <i class="fa fa-star-o"></i>
      <i class="fa fa-star-o"></i>
    </span>
  </a>
</div>
